@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,500;0,800;1,500&display=swap");
.modalV {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0vh 0vh 2vh -0.5vh rgba(0, 0, 0, 0.8);
          box-shadow: 0vh 0vh 2vh -0.5vh rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 45vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 1.3vh;
  -webkit-backdrop-filter: blur(1vh);
          backdrop-filter: blur(1vh);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1vh;
  -webkit-transform: translate3d(0, 2vh, 0) scale(1);
          transform: translate3d(0, 2vh, 0) scale(1);
  -webkit-animation: fade-inv 400ms cubic-bezier(0, 1.09, 0.27, 1.36);
          animation: fade-inv 400ms cubic-bezier(0, 1.09, 0.27, 1.36);
}

@-webkit-keyframes fade-inv {
  0% {
    -webkit-transform: translate3d(0, -50vh, 0) scale(0.7);
            transform: translate3d(0, -50vh, 0) scale(0.7);
  }
  99.9% {
    -webkit-transform: translate3d(0, 0, 0) scale(1, 0.9);
            transform: translate3d(0, 0, 0) scale(1, 0.9);
  }
  100% {
    -webkit-transform: translate3d(0, 2vh, 0) scale(1);
            transform: translate3d(0, 2vh, 0) scale(1);
  }
}

@keyframes fade-inv {
  0% {
    -webkit-transform: translate3d(0, -50vh, 0) scale(0.7);
            transform: translate3d(0, -50vh, 0) scale(0.7);
  }
  99.9% {
    -webkit-transform: translate3d(0, 0, 0) scale(1, 0.9);
            transform: translate3d(0, 0, 0) scale(1, 0.9);
  }
  100% {
    -webkit-transform: translate3d(0, 2vh, 0) scale(1);
            transform: translate3d(0, 2vh, 0) scale(1);
  }
}

.modalV > * {
  padding: 1vh 2vh;
}

.modalV .expenseLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  gap: 2vh;
}

.modalV .expenseLi .eachExpense {
  width: 100%;
  padding-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modalV .expenseLi .eachExpense span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 3vh;
}

.modalV .expenseLi .eachExpense span .del {
  cursor: pointer;
  font-size: 1.3vh;
  background: #790b0b91;
  border: 1px solid #b12828a9;
  padding: .2vh 1vh;
  border-radius: .7vh;
  font-weight: normal;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: .6;
}

.modalV .expenseLi .eachExpense span .del:hover {
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.modalV .modalHeaderV {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background: rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-radius: 1vh;
  width: 100%;
  height: fit-content;
}

.modalV .modalHeaderV h2 {
  font-size: 2vh;
  font-weight: normal;
  padding-right: 2vh;
}

.modalV .modalHeaderV h2 span {
  font-size: 1.5vh;
  border-radius: 1vh;
  border: 2px solid #f30d0d79;
  padding: .2vh 1.2vh;
  cursor: pointer;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.modalV .modalHeaderV h2 span:hover {
  border: 2px solid #ffffff6c;
  background: #f30d0d6e;
}

.modalV .modalHeaderV .closeMV {
  cursor: pointer;
  font-size: 2vh;
  font-family: 'Nova Mono', monospace;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0vh 1vh;
  border-radius: .7vh;
  font-weight: normal;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: .6;
}

.modalV .modalHeaderV .closeMV:hover {
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=ViewExpenseModal.css.map */